body{
    display: flex;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image:url(backimage.png);
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
  
}

.container{

    width: 60%;
    max-width: 100%;
    min-width: 60vh;
    height: auto;
    margin: 0 auto;
    background-color: rgb(11, 11, 88);
    justify-content: center;
    border-radius: 20px;
    vertical-align: middle;
    opacity: 0.9;
    box-sizing: border-box;

}
@media screen and (max-width: 720px){
    .container{
        width:50%;
        max-width: 100%;
        min-width: 300px;
    
        margin: 0 auto;
        justify-content: center;

    }
}
.container label{

    font-family:  Arial, sans-serif;
    font-size: large;
    color: aliceblue;
    
      
}
.input-sec{

    margin-left: 10%;
}

.input-sec label{
    font-family:  Arial, sans-serif;
    font-size: large;
    color: #d8ddd8c0;
    
}
.input-sec input{

    width:80%;
    height: 2em;
    border-radius: 5px;
    border: 0 solid;
}
.container  .signbtn{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 5px 15px;
    font-size: 14px;
    color:blue;
    border: none;
    border-radius: 4px;
    cursor:pointer;
    
}

button:hover{
    background-color: rgb(12, 12, 54);

}



.container-select{
    max-width: 100%;
    width: 50%;
    height: fit-content;
    margin: 0 auto;
    background-color: rgb(12, 12, 87);
    justify-content: center;
    border-radius: 10px;
    opacity: 0.9;
}
@media screen and (max-width: 720px){
    .container-select{
        width:50%;
        max-width: 100%;
        min-width: 300px;
    
        margin: 0 auto;
        justify-content: center;

    }
}

.selector-container button{

    
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 5px 4em;
    font-size: 14px;
    color:blue;
    border: none;
    border-radius: 4px;
    cursor:pointer;
}

.container-select label{

    font-family:  Arial, sans-serif;
    font-size: large;
    color: aliceblue;
    
      
}

.selector-container label{
    font-family:  Arial, sans-serif;
    font-size: large;
    color: #d8ddd8c0;
    
    
}

.container-staff{
    max-width: 60%;
    height: fit-content;
    margin: 0 auto;
    background-color: rgb(12, 12, 87);
    justify-content: center;
    border-radius: 5px;
}

.container-staff  .signbtn{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 5px 15px;
    font-size: 14px;
    color:blue;
    border: none;
    border-radius: 4px;
    cursor:pointer;
    
}

.container-staff label{

    font-family:  Arial, sans-serif;
    font-size: large;
    color: aliceblue;
    
      
}

.container .label-color{
    color: rgba(212, 212, 18, 0.548);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: normal;
    display: block;
    text-align: center;
    font-size: 2em;
    
}

.container-staff .label-color{
    color:rgba(212, 212, 18, 0.548);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: normal;
    display: block;
    text-align: center;
    font-size: 2em;
    
}

.container-select .label-color{
    color: rgba(212, 212, 18, 0.548);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: normal;
    display: block;
    text-align: center;
    font-size: 2em;
    
}