#statusArea
    {
        margin: auto;
        width: 80%;
        height: fit-content;
        background-color: rgba(243, 211, 27, 0.6);
        /*background-color: #f3d31b;*/
        padding: 20px;
        margin-bottom: 25px;
        border-radius: 25px;

    }
#statusStrip
    {
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 30px;
        text-align: center;
        background-color: rgba(71 , 164, 71, 0.7);
        height: 100px;
        width : 80%;
        border-radius: 15px;
    }
#applyButton
    {
        margin: auto;
        padding: 30px;
        background-color: rgba(71 , 164, 71, 0.7);
        align-self: center;
        text-align: center;
        width: 80%;
        border-radius: 15px;
    }
#applyButton:hover
    {
        background-color: rgba(71 , 164, 71, 1.0);
    }
#applyBtnLink
    {
        text-decoration: none;
        color: white;
        font: 25px fantasy;
    }
#heading
    {
        margin: auto;
        padding: 10px;	
        text-align: center;
        font: 35px verdana;
    }
#firstSection
    {
        margin: auto;
        width: 80%;
    }
#statusIndicator
    {
        margin: auto;
        height: fit-content; 
        text-align:center;
        background-color:rgba(255, 0, 0, 0.8);
        color: white;
        border-radius: 15px;
    }
#statusId
    {   
        margin: auto;
        height: 40px;
        text-align: left;
        color: white;
    }
h3{font: 25px verdana;}
h4{font: 15px verdana;}
