#statusArea
    {
        margin: auto;
        width: 80%;
        
        justify-content: center;
        align-items: center;
        height: fit-content;
        /*background: linear-gradient(to right, #c9d875, #90ebee);*/
        padding: 20px;
        margin-bottom: 25px;
        border-radius: 25px;
        border-style: outset;
        max-height: 1000px;
        

    }
#statusStrip
    {
        margin: auto;
        
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 30px;
        text-align: center;
        justify-content: center;
        background-color: rgba(71 , 164, 71, 0.7);
        height: fit-content;
        width : 80%;
        border-radius: 15px;
        box-sizing: border-box;
    }
#applyButton
    {
        margin: auto;
        padding: 30px;
        justify-content: center;
        align-items: center;
        background-color: rgba(71 , 164, 71, 0.7);
        align-self: center;
        text-align: center;
        width: 80%;
        border-radius: 15px;
    }
#applyButton:hover
    {
        background-color: rgba(71 , 164, 71, 1.0);
    }
#applyBtnLink
    {
        text-decoration: none;
        color: white;
        font: 25px verdana;
    }
#heading
    {
        margin: auto;
        padding: 10px;	
        text-align: center;
        font: 35px verdana;
    }
#firstSection
    {
        margin: auto;
        width: 80%;
        display: flex;
        height: fit-content;
    }
#statusIndicator
    {
     background-color: white;
     color: red;
     padding: 5px;
     border-radius: 10px;
        
    }
#statusId
    {   
        margin: auto;
        
        height: auto;
        text-align: center;
        color: white;
    }
.labelname{
    
    text-align: center;
    height: auto;

}
h3{font: 25px verdana;}
h4{font: 15px verdana;}

#firstSectionDiv2
    {
        margin-left: 10px;
        height: fit-content;
        justify-content: center;
        align-items: center;
    }


